/*
================================================================================
    Nextflow config file for running production analysis
================================================================================
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run main_pipeline.nf -profile production

--------------------------------------------------------------------------------
*/

singularity.enabled    = true
singularity.autoMounts = true
docker.enabled         = false
podman.enabled         = false
shifter.enabled        = false
charliecloud.enabled   = false

process.container = 'library://minigonche/networks/community_network_analyzer:latest'


params {

    // Test Inputs
    input_folder = "${projectDir}/LUCAS_Funct/"
    metadata_file = "${projectDir}/LUCAS_Funct/metadata_for_samples_2.xlsx"
    cycles = ["S_cycle", "N_cycle", "P_cycle","carbon","CH4_cycle","CAZymes"]
    metadata_cols = "MeanTemperature_Avg31day,PrecipitationSum_Avg31day,pH_H2O,Electrical_conductivity,Carbonate_content,Phosphorus_content,CN,Clay_content_imputed,Organic_carbon_imputed,H2O_content_volumetric_imputed,Annual_Precipitation,Annual_Mean_Temperature,Bulk_Density_0_10_cm_imputed,Bulk_Density_10_20_cm_imputed"
       
}





