/*
================================================================================
    Nextflow config file for running minimal tests
================================================================================
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run main_pipeline.nf -profile test

--------------------------------------------------------------------------------
*/

singularity.enabled    = true
singularity.autoMounts = true
docker.enabled         = false
podman.enabled         = false
shifter.enabled        = false
charliecloud.enabled   = false

//process.container = 'library://minigonche/networks/community_network_analyzer:latest'
process.container = '/home/minigonche/Dropbox/Projects/TartuU/community_network_analyzer/community_network_analyzer.sif'




params {

    // Test Inputs
    split_by_lc = false
    quantitative = true
    input_folder = "${projectDir}/LUCAS_Funct/"
    metadata_file = "${projectDir}/LUCAS_Funct/metadata_for_samples_2.xlsx"
    cycles = ["all_cycles"] // ["S_cycle"]
    metadata_cols = "MeanTemperature_Avg31day,PrecipitationSum_Avg31day,pH_H2O,Electrical_conductivity,Carbonate_content,Phosphorus_content,CN,Clay_content_imputed,Organic_carbon_imputed,H2O_content_volumetric_imputed,Annual_Precipitation,Annual_Mean_Temperature,Bulk_Density_0_10_cm_imputed,Bulk_Density_10_20_cm_imputed"
       
}



